* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Main Page Elements */
body {
  background-color: #ffffff;
}

#main {
  width: 75%;
  margin: 15px auto;
  border-top: 5px solid #1080dd;
  background-color: #dddddd;
  box-shadow: 0 3px 6px #000000;
}

.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  max-width: 100%;
}

/* TODO: Replace with image later */
#header {
  background-image: url("../images/cartographer.png");
  background-color: #262626;
  border-bottom: 1px solid #000000;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

.orange {
  background-color: #f09609;
}

.gray {
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #262626;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

#scrollTop {
  position: fixed;
  bottom: 35px;
  right: 50px;
  background: #dddddd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  display: none;
}

/* Clearfix for Floats */
.clearfix {
  overflow: auto;
}

/* Text Styling */
h1 {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  color: #f09609;
  line-height: 48px;
  display: inline;
}

.job-title {
  color: #1080dd;
  float: right;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

.blue-text {
  color: #1080dd;
}

.white-text {
  font-weight: bold;
  color: #d3d3d3;
}

/* Link Styling */
a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  color: #124191;
}

/* List Styling */
.list-box {
  display: block;
  float: left;
  margin: 5px 15px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item {
  padding-left: 10px;
}

#skillsH3,
#contactsH3 {
  color: #f5ae23;
  display: none;
}

#skills {
  display: none;
}

ul {
  list-style-type: none;
}

/* Media Queries */
@media only screen and (max-width: 1150px) {
  #main {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #contactsH3,
  #skills,
  .biopic {
    display: block;
  }
}
